/* General Projects Page ----------------------------------------------------------------------- */

/* List of all projects */
.project-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    overflow: hidden;

    /* Sub-element for list of projects */
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* An individual project */
.project {
    position: relative;
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    margin: 3% 0;
    transition: background-size 0.3s ease;

    /* Default title text of a project. */
    h2 { min-width: 50vw; }
}

/* When hovered over, a project's background image should enlarge. */
.project:hover { background-size: 120%; }

.page-body p { margin-top: 3%; }

/* Title Image. Substitutes for an h1 title */
.title { max-width: 50%; }

a { text-decoration: none; }

/* Desktop UI ---------------------------------------------------------------------------------- */
@media(min-width: 701px) {
    
    .project-links {

        /* Title Image. Substitutes for an h2 title. */
        img { width: 50%; }

        /* Default title text of a project. */
        h2 {
            color: white;
            font-size: 4.36vw;
            margin: 2%;
        }  
    }

    /* An individual project. */
    .project { padding: 8% 0%; }
    
    .orb#blue {
        width: 60%;
        opacity: 0.6;
        bottom: 53vh;
        left: 50vw;

        animation: orb-pulse 10s linear infinite;
    }

    .orb#purple {
        width: 60%;
        opacity: 0.75;
        top: 1vh;
        left: 1vw;

        animation: orb-pulse 18s linear infinite;
    }

    .orb#pink {
        width: 40%;
        opacity: 0.6;
        top: 55vh;
        left: 62vw;

        animation: orb-pulse 14s linear infinite;
    }
}

/* Mobile UI ----------------------------------------------------------------------------------- */

@media(max-width: 700px) {

    .project-links {

        /* Title image. Substitutes for an h2 title. */
        img { width: 90%; }

        /* Default title text of a project. */
        h2 {
            color: white;
            font-size: 36px;
            line-height: 120%;
        }

        /* li container for a project. */
        li { padding: 15% 2%; }
    }
}

