.page-body p { padding: 3% 0 2% 0; }

/* Gives a page image a slightly round radius. */
.page-image {
    border-radius: 2%;
    max-width: 50%;
}

/* Nether Highlight */
strong { color: rgb(128, 0, 0);}

/* Summary of the project. */
.widget-container p, .summary > p { margin: 0% 5%;}

/* Removes underlines from anchors */
a { text-decoration: none; }

/* itch.io iframe */
iframe { margin-top: 3%; }

/*
    There are only 2 h3s using this tag:
    "Play the Web Version"
    "The web version is not supported."
*/
h3 {
    padding-top: 3%;
    padding-bottom: 2%;
    color: #9192fc;
    font-size: 2vw;
    transition: all ease 0.3s;
}

/* Link to the project web version. */
.widget-container h3:hover { color: #5663f0; }

.updates {
    > .titles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 2vw;

        span {
            transition: all ease 0.3s;
            padding: 1vw 2vw;
            border-radius: 1vw;
        }

        span:hover {
            background-color: #2C016B5E;
            box-shadow: 0px 0px 30px #2C016B5E;
        }

        span.active {
            background-color: #080014;
            box-shadow: 0px 0px 30px #2C016B5E;
        }
    }

    > .content {
        text-align: left;
        
        /* Update Name */
        h3 {
            font-size: 3vw;
            background-image: linear-gradient(
                to right,
                #16C9AA,
                #108EB9,
                #1734AC,
                #108EB9,
                #16C9AA
            );
            text-shadow: 0 0 60px #108eb9e3;
        }

        /* Update Date */
        h4 {
            font-size: 2vw;
            padding-bottom: 2vw;

            background-image: linear-gradient(
                to right,
                #B5B8FF,
                #AA8DFF,
                #9C67FF,
                #AA8DFF,
                #B5B8FF
            );
            text-shadow: 0 0 60px #aa8dffe3;
        }

        li {
            list-style-type: circle;
            color: white;
            padding-bottom: 2vw;
        }

        > .changelog-entry {

            h3 { letter-spacing: 0.25vw; }

            p { padding: 0; }
        }

        > .devlog-entry {

            .image-container { 
                text-align: center;
                padding-bottom: 1vw;

            }
        }

        > .changelog-entry, > .devlog-entry {
            padding: 0 10vw;
            white-space: nowrap;
        }

        > .changelog-entry:nth-child(odd),
        > .devlog-entry:nth-child(odd) { background: linear-gradient(to right, #1d129440, #8a2eff5e); }


        > .changelog-entry:nth-last-child(1), > .dev-entry:nth-last-child(1) { margin-bottom: 3vw; }
    }

    > .read-more {
        a {
            padding-bottom: 4vw;
            color: #9192fc;
        }

        a:hover { color: #5663f0; }
    }
}

@media(min-width: 701px) {

    /* The project download iframe. */
    .widget {
        width: 39vw;
        height: 9.5vw;
    }

    .summary { padding-bottom: 5%; }

    .orb#pink {
        width: 60%;
        opacity: 0.6;
        top: -45vh;
        left: 52vw;

        animation: orb-pulse 12s linear infinite;
    }

    .orb#blue {
        width: 60%;
        opacity: 0.6;
        top: 45vh;
        left: 1vw;

        animation: orb-pulse 18s linear infinite;
    }

    .orb#purple {
        width: 60%;
        opacity: 0.6;
        left: 50vw;
        bottom: 8vh;

        animation: orb-pulse 16s linear infinite;
    }
}

@media(max-width: 700px) {

    /* The project download iframe. */
    .widget {
        width: 70vw;
        height: 30vw;
    }

    /* Text that appears whent the WebGL build is unavailable. */
    #not-available {
        margin: 5%;
        line-height: 125%;
        font-size: 4vw;
    }
}
