@keyframes lights {
    0% {
      /*color: hsl(230, 40%, 80%); */
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      /*color: hsl(230, 80%, 90%); */
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      /*color: hsl(230, 100%, 95%); */
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      /*color: hsl(230, 80%, 90%); */
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      /*color: hsl(230, 40%, 80%); */
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
}

.light-effect{
    margin: auto;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
 }

 /*--------------------------------------------------------------------------------------------- */

.gradient {
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 12s linear infinite;
}

.v1 {
   background-image: linear-gradient(
    -225deg,
    #FA7FFF 0%,
    #B98EFC 20%,
    #B55DE8 40%,
    #8DA0FE 60%,
    #C490FF 80%,
    #FA7FFF 100%
  );
}

.v2 {
  background-image: linear-gradient(
    -225deg,
    #01AEF3 0%,
    #464CE7 20%,
    #A818D4 40%,
    #D80D9A 60%,
    #6A5FC7 80%,
    #01AEF3 100%
  )
}

.v3 {
  background-image: linear-gradient(
    -225deg,
    #7303C0 0%,
    #4B0DBE 20%,
    #3204E7 40%,
    #B105F4 65%,
    #FF0066 80%,
    #7303C0 100%
  );
}

.v4 {
  background-image: linear-gradient(
    -225deg,
    #0A52F2 0%,
    #5A06F5 20%,
    #A40BF3 40%,
    #FF0A94 60%,
    #E40DAF 80%,
    #0A52F2 100%
  );
}

.v5 {
  background-image: linear-gradient(
    -225deg,
    #0710E8 0%,
    #4D05E1 20%,
    #8A00D4 40%,
    #C600A6 60%,
    #FF0056 80%,
    #0710E8 100%
  );
}

@keyframes gradient {
  to {
    background-position: 200% center;
  }
}

/* --------------------------------------------------------------------------------------------- */

/* Home Page Animations */

/* fade-out-all is used in the initial fade-out animation.
 * fade-out-sub is placed underneath all other elements, and is used in all subsequent fade-outs.
 */

#fade-out-all, #fade-out-sub {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

/* Top Menu area, containing the logo and nav links. */
#home-header-nav {
  z-index: 2;
  position: relative;

  opacity: 1;

  animation-name: subheader-nav;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}

/* The UI Frame image that appears in the background. */
#ui-frame {
  position: absolute;
  z-index: 0;
  transform: translate(-50%, -50%);
  transform-origin: center;

  top: 50%;
  left: 50%;

  opacity: 1;

  animation-name: ui-frame;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.33, 0, 0.68, 1);
}

/* The main text content of the home page. */
#main-content {
  opacity: 1;
  position: relative;
  z-index: 1;
  top: 200px;

  animation-name: main-content;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.33, 0, 0.68, 1);
}

/* The 3 inner circles in the center of the screen view. */
#center-circle {
  animation-name: center-circle;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.33, 0, 0.68, 1);
}

/* The 3 outer concentric circles centered on the screen view. */
#outer-circle {
  animation-name: outer-circle;
  animation-duration: 8s;
  animation-timing-function: cubic-bezier(0.33, 0, 0.68, 1);
}

/* Circles 4, 5, and 6 are the outer circles. */
#circle-v4 {
  transform-origin: center;
  transform: translate(-50%, -50%) scale(1.1);
}

#circle-v5 {
  transform-origin: center;
  transform: translate(-50%, -50%) scale(1.3);
}

#circle-v6 {
  transform-origin: center;
  transform: translate(-50%, -50%) scale(2);
}

/* Apply infinite rotation animations to all circles. */
#circle-v1 img { animation: clockwise 5s linear infinite; }
#circle-v2 img { animation: counterclockwise 6s linear infinite; }
#circle-v3 img { animation: clockwise 5.5s linear infinite; }
#circle-v4 img { animation: clockwise 30s linear infinite; }
#circle-v5 img { animation: counterclockwise 100s linear infinite; }
#circle-v6 img { animation: clockwise 150s linear infinite; }

@media(max-width: 700px) {
  #circle-v6 { display: none; }
}

@keyframes subheader-nav {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes ui-frame {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4);
  }

  30% { opacity: 0;}

  50% {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(0.4);
  }

  75% { transform: translate(-50%, -50%) scale(1); }

  100% { 
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); 
  }
}

@keyframes main-content {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes center-circle {
  0% { 
    opacity: 0;
    scale: 1.2; 
  }

  80% { 
    opacity: 0;
    scale: 1.2; 
  }

  100% { 
    opacity: 1;
    scale: 1; 
  }
}

@keyframes outer-circle {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes counterclockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@media (max-width: 700px) {
  #ui-frame {
    display: none;
  }
}

/* --------------------------------------------------------------------------------------------- */

/* Button Animations */

.fill:hover, .fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover, .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

.close:hover, .close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover), 
    inset 3.5em 0 0 0 var(--hover);
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover, .up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover, .slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 
    0.3em 0.3em 0 0 var(--color), 
    inset 0.3em 0.3em 0 0 var(--color);
}

.offset:hover, .offset:focus {
  box-shadow: 
    0 0 0 0 var(--hover), 
    inset 6em 3.5em 0 0 var(--hover);
}

/* Change colors later. */
.fill {
  --color: #a972cb;
  --hover: #cb72a9;
}

.pulse {
  --color: white;
  --hover: #b16eef;
}

/* Change colors later. */
.close {
  --color: #ff7f82;
  --hover: #ff7fff;
}

/* Change colors later. */
.raise {
  --color: #ffa260;
  --hover: #60ffa2;
}

/* Change colors later. */
.up {
  --color: #e4cb58;
  --hover: #58e4cb;
}

/* Change colors later. */
.slide {
  --color: #8fc866;
  --hover: #66c887;
}

/* Change colors later. */
.offset {
  --color: #19bc8b;
  --hover: #8ae9ff;
}

.button:hover, .button:focus {
  border-color: var(--hover);
  color: white;
}

.button {
  background: none;
  border: 2px solid;
  color: var(--color);
  font: inherit;
  transition: 0.25s;
}

/* --------------------------------------------------------------------------------------------- */

/* Nav Bar Animations */

.light-blue {
  background-image: linear-gradient(
    to right,
    #30c0eb,
    #01AEF3 50%,
    white 50%
  );
}

.light-blue::before { background: linear-gradient(to left, #30c0eb, #01AEF3); }

.blue {
  background-image: linear-gradient(
    to right,
    #010FCC,
    #000A83 50%,
    white 50%
  );
}

.blue::before { background: linear-gradient(to left, #010FCC, #000A83); }

.purple {
  background-image: linear-gradient(
    to right,
    #953DF5,
    #4E26E2 50%,
    white 50%
  );
}

.purple::before { background: linear-gradient(to left, #953DF5, #4E26E2); }

.pink {
  background-image: linear-gradient(
    to right,
    #F019E1,
    #FA7FFF 50%,
    white 50%
  );
}

.pink::before { background: linear-gradient(to left, #F019E1, #FA7FFF); }

.hover-effect {
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.hover-effect::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.hover-effect:hover { background-position: 0; }

.hover-effect:hover::before { width: 100%; }

/* --------------------------------------------------------------------------------------------- */

#panner {
  position: fixed;
  left: calc(50% - 75px);
  background: lighten(#333, 10%);
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin: 3em auto;
}

#pointer {
  content: '';
  background: white;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: fixed;
  z-index: 12;
  display: block;
  outline-color: white;
  outline-style: solid;
  outline-width: 2px;
  animation: cursor 1s infinite;
  box-shadow: 0px 0px 20px white;
}

@keyframes cursor {
  from {
    outline-offset: 0px;
  }

  to {
    outline-offset: 10px;
    outline-color: transparent;
  }
}

@media(max-width: 700px) {
  #panner { display: none; }
  #pointer { display: none; }
}

/* --------------------------------------------------------------------------------------------- */

/* Image Border */

.offset-border {
  --color: #FA7FFF; /* the border color */
  --border: 10px;     /* the border thickness */
  --offset: 20px;     /* control the offset */
  --gap: 5px;         /* the gap on hover */
  
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
  --_o: calc(3 * var(--offset));

  padding: 
    calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));

  background: 
    linear-gradient(var(--_c)) var(--_o) var(--_o), 
    linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);

  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  transition: 0.5s;
}

.offset-border:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}