* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

/* Make Montserrat the default font for all pages. */
@font-face {
    font-family: montserrat;
    src: url(fonts/MontserratAlt1-SemiBold.ttf);
}

/* Home Page ----------------------------------------------------------------------------------- */
/*px --> vw conversion: 0.0703125x*/

/* Main Color Overlay and Image */
.home-header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Top Menu area, containing the logo and nav links. */
.sub-header nav, .home-header nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

/*Lunarflame Logo Image*/
.sub-header nav img, .home-header nav img { width: 28.125vw; }

/* Top Menu Buttons (HOME, ABOUT, PROJECTS, BLOG)  */
.nav-links, .social-links { flex: 1; }

/* Top Menu Buttons */
.header { text-align: right; }

/* Item in Top Menu nav list. */
.nav-links ul li, .social-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* Anchor for Top Menu nav list item */
.nav-links ul li a {
    color: white;
    text-decoration: none;
}

/* When hovered over, a list item should get a purple underline. */
.nav-links ul li:hover::after { width: 100%; }

/*Home page Center Text Box*/
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* (Welcome to LunarFlame Studios)*/
.text-box h1 { font-size: 4.36vw; }

/*Description*/
.text-box p {
    margin: 10px 0 40px;
    font-size: 1.5vw;
    color: white;
}

/* Link to Project Leo */
.text-box a {
    margin-top: 2%;
    font-size: 2.53vw;
}


/* Project Leo Link Button */
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 1.4vw;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/* Hero Button should become blue-violet when when hovered over. */
.hero-btn:hover {
    border: 1px solid blueviolet;
    background: blueviolet;
    transition: 1s;
}

/* Header, Footer, and General Structure ------------------------------------------------------- */

.sub-header { background-image: linear-gradient(rgba(5, 18, 70, 0.7), rgba(59, 4, 70, 0.7)), url(images/Blue-Nebula-8-1024x1024-1.png); }

/* Gives a dark blue gradient to every page with content. */
.page-body {
    background: linear-gradient(#00021f, #020131);
    width: 100%;
    min-height: 70vh;
    text-align: center;
}

/*Primary Titles*/
.page-body h1{
    font-size: 4.5vw;
    color: #f3bafd;
    padding-top: 5%;
}

/*Secondary Titles*/
.page-body h2 {
    font-size: 3.9vw;
    color: #ed88ff;
    padding-top: 5%;
}

/*Paragraph Content*/
.page-body p {
    font-size: 1.55vw;
    color: white;
    line-height: 150%;
}

/*Image on any Website Page*/
.page-image { max-width: 80%; }

/*Horizontal Break*/
.page-body hr {
    width: 75%;
    border: 1px solid blueviolet;
    margin: 20px auto;
}

/*Footer for all site pages*/
.sub-footer {
    background-image: linear-gradient(rgba(5, 18, 70, 0.7), rgba(59, 4, 70, 0.7)), url(images/Blue-Nebula-8-1024x1024-1.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 80px;
}

/*Sub-Footer Titles*/
.sub-footer h1 {
    color: #ad72ff;
    font-size: 3.5vw;
    padding-bottom: 5%;
}

/*Sub-Footer Subtext*/
.sub-footer h2 {
    color: white;
    font-size: 1.26vw;
    line-height: 175%;
}

/*Links under Contact Us Form*/
.footer-contact-us a { text-decoration: none; }

/*Sub-Footer Subtext v2*/
.sub-footer h3  {
    color: #9192fc;
    font-size: 1.35vw;
    line-height: 175%;
    padding: 0;
}

/* Subtext link turns dark blue when hovered over. */
.sub-footer h3:hover { color: #5663f0; }

/* div container for copyright section */
.copyright {
    background-color: black;
    text-align: right;
    padding: 15px;
}

/*Copyright text*/
.copyright-text {
    font-size: 1.69vw;
    color: #6d5a85;
    padding: 0% 3%;
}

/* Nav links for copyright section */
.copyright nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Icon containers for external links */
.icon-container {
    border-radius: 8px;
    margin: 0px;
    display: inline-block;
    padding: 15px 20px;
    transition: all ease 0.3s;

    color: white;
}

/* Icon container images*/
.social-links i {
    font-size: 140%;
    color: white;
    transition: all ease 0.3s;
}

/* div class for list of external links */
.social-links { display: flex; }

/* Scrollbar ----------------------------------------------------------------------------------- */

/* Container for the scrollbar */
.scroll-container {
    background-color: #00010c;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-color: #fc0fc0 rgb(3, 0, 21);
}

/* An individual image in a scroll container */
.scroll-container img {
    padding: 10px;
    max-width: 50%;
    max-height: 18vw;
    align-items: center;
}

/* Dropdowns ----------------------------------------------------------------------------------- */

.drop-btn {
    background-color: transparent;
    border-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #25124d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateX(11%);
    padding: 0 20px;
}

.dropdown-content a {
    padding: 0% 20%;
    text-decoration: none;
    color: inherit;
}

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .drop-btn { background-color: rgba(255, 255, 255, 0.1);}

/* Other --------------------------------------------------------------------------------------- */

/* Gives any element a slight top margin*/
.margin-top { margin-top: 4%; }

/* Styles for the zoomed-in image overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
}

/* Styles for the zoomed-in image */
#zoom-in {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    z-index: 1001;
    cursor: pointer;
}

/* Mobile UI ----------------------------------------------------------------------------------- */
@media(max-width: 700px) {

    /*Lunarflame Logo Image*/
    .sub-header nav img, .home-header nav img { width: 200px; }

    /* (Welcome to LunarFlame Studios)*/
    .text-box h1 { font-size: 8vw; }

    /*Description*/
    .text-box p {
        margin: 10px 0 40px;
        font-size: 3vw;
        color: white;
    }

    /* Link to Project Leo */
    .text-box a {
        margin-top: 0;
        font-size: 6vw;
    }

    /* Item in Top Menu nav list */
    .nav-links ul li { 
        display: block;
        margin: 20px 0px;
    }

    /* Anchor for Top Menu nav list item */
    .nav-links ul li a { font-size: 4.4vw; }

    /* Anchor for Social Links list item */
    .social-links a {
        text-decoration: none;
        font-size: 5vw;
    }

    /* Item in Social Links list*/
    .social-links ul li { display: block; }

    /* Top Menu Buttons go to the side bar on the Mobile View. */
    .nav-links {
        position: fixed;
        background: linear-gradient(#03002e, #0a0068);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    /* Social Links go under the Nav Links on the Mobile View. */
    .social-links {
        position: fixed;
        width: 200px;
        right: -200px;
        text-align: left;
        top: 40vh;
        z-index: 2;
        background-color: transparent;
        transition: 1s;
    }

    /* Show sidebar on mobile view. */
    .sub-header nav .fa, .home-header nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 8vw;
        cursor: pointer;
    }

    /* Nav Links list */
    .nav-links ul { padding: 20px; }

    /* Social Links list */
    .social-links ul { padding: 50px; }

    /* Social Links icons turn pink when hovered over. */
    .social-links i:hover { color: #eb96f7; }

    /* Nav Links icons turn pink when hovered over. */
    .nav-links a:hover { color: #eb96f7; }

    /*Primary Titles*/
    .page-body h1 {
        font-size: 8vw;
        padding-top: 10%;
    }

    /*Paragraph Content*/
    .page-body p {
        font-size: 3vw;
        margin: 5%;
    }

    /*Footer for all site pages*/
    .sub-footer { display: none; }

    /*Sub-Footer Titles*/
    .sub-footer h1 { font-size: 2.25vw; }

    /*Copyright text*/
    .copyright-text {
        font-size: 2.25vw;
        padding: 2%;
        line-height: 110%;
    }

}

/* Desktop UI ---------------------------------------------------------------------------------- */

@media(min-width: 701px) {

    /* Hide sidebar on desktop view */
    .sub-header nav .fa, .home-header nav .fa { display: none; }

    /* Item in Top Menu nav list. */
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 4px;
        background-color: blueviolet;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    /* Anchor for Item in Top Menu nav list. */
    .nav-links ul li a, .social-links ul li a { font-size: 1.68vw; }

    /* Icon container backgrounds should only show on the desktop view. */
    .icon-container { background-color: #490596; }

    /* Icon container background darkens when hovered over. */
    .icon-container:hover {
        background-color: #2b005c;
        box-shadow: 0px 0px 50px #00000000;
    }
}