* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

@font-face {
    font-family: montserrat;
    src: url(fonts/MontserratAlt1-SemiBold.ttf);
}

/*HOME PAGE-----------------------------------------------------------*/
/*px --> vw conversion: 0.0703125x*/

/*Main Color Overlay and Image*/
.home-header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.sub-header nav, .home-header nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

/*Lunarflame Logo Image*/
.sub-header nav img, .home-header nav img {
    width: 28.125vw;
}

/*Top Menu Buttons (HOME, ABOUT, PROJECTS, BLOG)*/
.nav-links, .social-links { flex: 1; }

.header { text-align: right; }

/*.social-links { text-align: left; }*/

.nav-links ul li, .social-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li:hover::after { width: 100%; }

/*Home page Center Text Box*/
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 { font-size: 4.36vw; }

.text-box p {
    margin: 10px 0 40px;
    font-size: 1.5vw;
    color: white;
}

.text-box a {
    margin-top: 2%;
    font-size: 2.53vw;
}

.sub-header nav .fa, .home-header nav .fa{ display: none; }

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 1.4vw;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid blueviolet;
    background: blueviolet;
    transition: 1s;
}

/*HEADER, FOOTER, AND GENERAL STRUCTURE--------------------*/
.sub-header { background-image: linear-gradient(rgba(5, 18, 70, 0.7), rgba(59, 4, 70, 0.7)), url(images/Blue-Nebula-8-1024x1024-1.png); }

.page-body {
    background: linear-gradient(#00021f, #020131);
    width: 100%;
    min-height: 70vh;
    text-align: center;
}

.page-body h1{
    font-size: 4.5vw;
    color: #f3bafd;
    padding-top: 5%;
}

.page-body h2 {
    font-size: 3.9vw;
    color: #ed88ff;
    padding-top: 5%;
}

.page-body p{
    font-size: 1.55vw;
    color: white;
    line-height: 150%;
}

.page-image { max-width: 80%; }

.page-body hr {
    width: 75%;
    border: 1px solid blueviolet;
    margin: 20px auto;
}

.sub-footer {
    background-image: linear-gradient(rgba(5, 18, 70, 0.7), rgba(59, 4, 70, 0.7)), url(images/Blue-Nebula-8-1024x1024-1.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 80px;
}

.sub-footer h1 {
    color: #ad72ff;
    font-size: 3.5vw;
    padding-bottom: 5%;
}

.sub-footer h2 {
    color: white;
    font-size: 1.26vw;
    line-height: 175%;
}

.copyright {
    background-color: black;
    text-align: right;
    padding: 15px;
}

.copyright h1 {
    font-size: 1.69vw;
    color: #6d5a85;
    padding: 0% 3%;
}

.copyright nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    background-color: #490596;
    border-radius: 8px;
    margin: 0px;
    display: inline-block;
    padding: 15px 20px;
    transition: all ease 0.3s;
}

.social-links i {
    font-size: 140%;
    color: white;
    transition: all ease 0.3s;
}

.nav-links a {
    color: white;
    transition: all ease 0.3s;
}

.social-links { display: flex; }

/*SCROLLBAR------------------------*/
.scroll-container {
    background-color: #00010c;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-color: #fc0fc0 rgb(3, 0, 21);
}

.scroll-container img {
    padding: 10px;
    max-width: 50%;
}

/*DROPDOWNS------------------------*/

.drop-btn {
    background-color: transparent;
    border-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #25124d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateX(11%);
    padding: 0 20px;
}

.dropdown-content a {
    padding: 0% 20%;
    text-decoration: none;
    color: inherit;
}

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .drop-btn { background-color: rgba(255, 255, 255, 0.1);}

/*OTHER-------------------------------------------*/

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.margin-top { margin-top: 4%; }

/* Styles for the overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
}

/* Styles for the zoomed image */
#zoom-in {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    z-index: 1001;
    cursor: pointer;
}

/*MOBILE UI------------------------*/
@media(max-width: 700px) {
    .sub-header nav img, .home-header nav img { width: 200px; }

    .text-box h1 { font-size: 8vw; }

    .text-box p {
        margin: 10px 0 40px;
        font-size: 3vw;
        color: white;
    }

    .text-box a {
        margin-top: 0;
        font-size: 6vw;
    }

    .nav-links ul li { 
        display: block;
        margin: 20px 0px;
    }

    .nav-links ul li a {
        text-decoration: none;
        font-size: 4.4vw;
    }

    .social-links a {
        text-decoration: none;
        font-size: 5vw;
    }

    .social-links ul li { display: block; }

    .nav-links {
        position: absolute;
        background-color:#490596;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .social-links {
        position: absolute;
        width: 200px;
        right: -200px;
        text-align: left;
        top: 40vh;
        z-index: 2;
        background-color: transparent;
        transition: 1s;
    }

    .sub-header nav .fa, .home-header nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 8vw;
        cursor: pointer;
    }

    .nav-links ul { padding: 20px; }

    .social-links ul { padding: 50px; }

    .social-links i:hover {
        color: #eb96f7;
    }

    .nav-links a:hover {
        color: #eb96f7;
    }

    .page-body h1 {
        font-size: 8vw;
        padding-top: 10%;
    }

    .page-body p {
        font-size: 3vw;
        margin: 5%;
    }

    .sub-footer h1 { font-size: 2.25vw; }

    .copyright h1 {
        font-size: 2.25vw;
        padding: 2%;
        line-height: 110%;
    }

    .sub-footer { display: none; }
}

/*DESKTOP UI---------------------*/
@media(min-width: 701px) {
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 4px;
        background-color: blueviolet;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-links ul li a, .social-links ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.68vw;
    }
    
    .icon-container:hover {
        background-color: #2b005c;
        box-shadow: 0px 0px 50px #00000000;
    }
}