/* Div container for author and date */
.blog-subInfo {
    text-align: left;
    margin: 5% 15% 0 12%;
}

/* Div container for rest of article */
.blog-pageBody {
    text-align: left;
    margin: 5% 10% 5%;
}

.blog-pageBody p { margin-top: 4%; }

.image-container { 
    text-align: center;
    margin: 6vw 0;
}

.blog-end { margin: 12vh auto; }
.blog-begin { margin: 4vh auto; }
.blog-break { margin: 8vh auto; }

#description { margin: 3% 0 3%; }

/* An h2 subheader. Applies a different color than a normal h2 header. */
.page-body .subheader {
    color: #ada8ff;
    line-height: 4vw;
}

/* Used by the div container for scrollbars to widen them closer to viewport width. */
.carousel { margin: 4% -12%; }

@media (min-width: 701px) {
    /* Author */
    .page-body h3 {
        margin-top: 16px;
        font-size: 3vw;
        color: #d883ff;
    }

    /* Date */
    .page-body h4 {
        margin-top: 2%;
        font-size: 1.5vw;
        color: #cbbcff;
    }

    /* Category */
    .page-body h5 {
        margin-top: 2vw;
        font-size: 2.2vw;
        color: #ed88ff;
    }
}

@media (max-width: 700px) {
    /*Author*/
    .page-body h3 {
        margin-top: 16px;
        font-size: 6vw;
        color: #d883ff;
    }

    /*Date*/
    .page-body h4 {
        margin-top: 2%;
        font-size: 3vw;
        color: #cbbcff;
    }

    /*Category*/
    .page-body h5 {
        margin-top: 4vw;
        font-size: 5vw;
        color: #ed88ff;
    }
}
