/*General About Us Info*/
.about-general p {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Container for list of devs*/
.about-devs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/*Name*/
.about-dev h2 {
    color: #d883ff;
    font-size: 3.9vw;
    padding-bottom: 2%;
}

/*Quote*/
.about-dev h3 {
    color: #cbbcff;
    font-size: 2.1vw;
    line-height: 150%;
    padding-top: 5%;
}

/*Nicknames*/
.about-dev h4 {
    color: white;
    font-size: 1.69vw;
    padding-bottom: 8%;
}

/* Roles */
.about-dev h5 {
    color: #f3bafd;
    font-size: 2vw;
    padding-top: 3%;

}

/*Text is part of .about-body p, listed in style.css*/

/* Horizontal Line in an about-dev block. */
.about-dev hr {
    width: 8.43vw;
    border: 3px solid #f3bafd;
    margin: 20px auto;
    position: relative;
}

/*Adrian*/
.phantom {
    background: linear-gradient(rgb(39, 27, 41, 0.5), rgb(206, 54, 101, 0.5)), url("../images/Minimal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Daniel*/
.kapeepa {
    background: linear-gradient(rgb(202, 210, 221, 0.5), rgb(75, 115, 151, 0.5)), url("../images/Nordic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.kapeepa h2 { color: #7a18a7; }

.kapeepa h5 { color: #c447da; }

/* Desktop UI ---------------------------------------------------------------------------------- */
@media(min-width: 701px) {

    /* Individual dev box */
    .about-dev {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 25%;
        text-align: left;
        padding: 5% 10%;
    }

    /* Reverse the alignment of every odd dev box. */
    .about-dev:nth-child(odd) {
        flex-direction: row-reverse;
        padding: 5% 10%;
        text-align: right;
    }

    /* Div container for Phantom's pfp.  */
    .pfp-phantom {
        display: inline-block;
        position: relative;
        width: 15vw;
        height: 15vw;
        min-width: 15vw;
        min-height: 15vw;
        overflow: hidden;
        border-radius: 50%;
    }

    /* Phantom's pfp image */
    .pfp-phantom img {
        width: auto;
        height: 130%;
        margin-left: -50px;
        margin-top: -40px;
        object-fit: cover;
    }

    /* Kapeepa's pfp image */
    .pfp-kapeepa img {
        display: inline-block;
        position: relative;
        width: 18vw;
        height: 18vw;
        min-width: 18vw;
        min-height: 18vw;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
    }

    .hr-odd { left: 16.5vw; }

    .hr-even { right: 15vw; }

    .about-dev h3 { padding-bottom: 15%; }

    .about-dev h5 { padding-bottom: 8%; }

    .about-devs p { padding-bottom: 5%; }
}


/* Mobile UI ----------------------------------------------------------------------------------- */
@media(max-width: 700px) {

    /* Container for list of devs */
    .about-devs { padding: 0; }

    /* Individual dev box */
    .about-dev {
        text-align: center;
        position: relative;
    }

    /*Name*/
    .about-dev h2 { font-size: 10.125vw; }

    /*Quote*/
    .about-dev h3 {
        margin: 5%;
        font-size: 4.22vw;
        padding-bottom: 5%;

    }

    /*Nicknames*/
    .about-dev h4 { 
        font-size: 4vw;
        padding-bottom: 5%; 
    }

    /*Roles*/
    .about-dev h5 { 
        font-size: 4vw; 
        margin-top: 50%;
        padding-top: 8%;
    }

    /* Dev profile picture */
    .about-dev img {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 40%;
    }

    /* UNUSED: Read More Button */
    .hero-btn { 
        font-size: 4vw;
        margin-bottom: 5%; 
    }

    /* All paragraph text in the about-devs section*/
    .about-devs p { padding-bottom: 2%; }

    /*Adrian*/
    .phantom {
        background-size: 320%;
        background-position-x: -200px;
    }
}