.recent-body, .blog-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.recent-box {
    max-width: 350px;
    min-height: 550px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0% 3%;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
    background: linear-gradient(#0c002b, #09003f);
}

.blog-box a {
    background: linear-gradient(#0c002b, #09003f);
    display: inline-flex;
    max-width: 40vw;
    max-height: 15vw;
}

.recent-box:hover {
    background-color: #010116;
    box-shadow: 16px 20px 50px rgba(0, 0, 0, 0.5);
}

.recent-img-container {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.blog-img-container {
    max-height: 200px;
    max-width: 250px;
    overflow: hidden;
    display: flex;
}

.blog-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.recent-box a, .blog-box a { text-decoration: none; }

.recent-text {
    display: flex;
    flex-direction:  column;
    padding: 30px 10px 20px 10px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    padding: 8px 40px;
}

.blog-text h2 {
    font-size: 2.2vw;
    color: #ed88ff;
}

.recent-text h2 {
    font-size: 2.9vw;
    color: #ed88ff;
}

.recent-text h3 {
    font-size: 1.75vw;
    color: #ad72ff;
    line-height: 2.1vw;
    margin: 5px 0px 10px 0px;
}

.blog-text h3 {
    font-size: 1.25vw;
    color: #ad72ff;
    line-height: 2.1vw;
    margin: 5px 0px 0px;
}

#subscribe { text-decoration: none; }

#subscribe h4 {
    padding-top: 1%;
    padding-bottom: 1%;
    color: #9192fc;
    font-size: 2vw;
}

#subscribe h4:hover {
    color: #5663f0;
}

.blog-text p, .recent-text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 1.25vw;
}

.blog-author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.blog-author-text {
    display: flex;
    flex-direction: column;
}

.blog-author-text strong {
    color: #f3bafd;
    font-size: 1.8rem;
}

.blog-author-text span {
    padding-top: 5%;
    color: white;
    font-size: 1.2rem;
}

#spacing {
    margin-top: 5%;
}

