/*PROJECTS GENERAL----------------------------------------------*/

.project-links, .release-logs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.project-links ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 100%;
    position: relative;
    min-width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    margin: 10px 0;
    transition: background-size 0.3s ease;
}

.project:hover { background-size: 120%; }

.project h2 { min-width: 50vw; }

/*TODO: Set background images*/
.page-body p {
    padding-top: 3%;
    padding-bottom: 2%;
}

.title { max-width: 50%; }

/*PROJECTS SPECIFIC-----------------------------*/

#project-leo { background-image: linear-gradient(rgba(5, 18, 70, 0.7), rgba(59, 4, 70, 0.7)), url(../images/PL_SS_5.png); }

.page-image {
    border-radius: 2%;
    max-width: 50%;
}

strong { color: rgb(128, 0, 0);}

.moonshadow {background-color: rgba(255, 255, 255, 0.1);}

.release-logs nav ul li { padding: 5% 0; }

.summary { margin: 0% 5%;}

a {
    text-decoration: none;
    color: inherit;
}

iframe {
    margin-top: 3%;
}

h3 {
    padding-top: 3%;
    padding-bottom: 2%;
    color: #9192fc;
    font-size: 2vw;
    transition: all ease 0.3s;
}

.widget-container h3:hover { color: #5663f0; }

.release-logs h2 { transition: all ease 0.3s; }

.release-logs h2:hover { color: #924af1; }

/*DESKTOP UI------------------------------------*/
@media(min-width: 701px) {
    .project-links img {
        width: 50%;
    }
    
    .project { padding: 5% 0; }
    
    .project-links h2 {
        color: white;
        font-size: 4.36vw;
        padding: 2%;
    }

    .widget {
        width: 39vw;
        height: 9.5vw;
    }
}

/*MOBILE UI-------------------------------------*/
@media(max-width: 700px) {
    .project-links img { width: 90%; }

    .project-links h2 {
        color: white;
        font-size: 36px;
        line-height: 120%;
    }

    .project-links li { padding: 15% 2%; }

    .release-logs h2 { font-size: 36px; }

    .widget {
        width: 70vw;
        height: 30vw;
    }

    #not-available {
        margin: 5%;
        line-height: 125%;
        font-size: 4vw;
    }
}

