/*PROJECTS GENERAL----------------------------------------------*/

.project-links, .release-logs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-links nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*TODO: Set background images*/
.page-body p {
    padding-top: 3%;
}

/*PROJECTS SPECIFIC-----------------------------*/

.release-logs nav ul li {
    padding: 2% 0;
}

/*DESKTOP UI------------------------------------*/
@media(min-width: 701px) {
    .project-links img {
        width: 50%;
    }
    
    .project-links nav ul li {
        padding: 5%;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .project-links h2 {
        color: white;
        font-size: 62px;
    }
}

/*MOBILE UI-------------------------------------*/
@media(max-width: 700px) {
    .project-links img {
        width: 90%;
    }

    .project-links h2 {
        color: white;
        font-size: 36px;
        line-height: 120%;
    }

    .project-links nav ul li {
        padding: 15% 2%;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .release-logs h2 {
        font-size: 36px;
    }
}

