.page-body p { padding: 3% 0 2% 0; }

/* Gives a page image a slightly round radius. */
.page-image {
    border-radius: 2%;
    max-width: 50%;
}

/* Nether Highlight */
strong { color: rgb(128, 0, 0);}

/* Summary of the project. */
.summary > p { margin: 0% 5%;}

/* Removes underlines from anchors */
a { text-decoration: none; }

/* itch.io iframe */
iframe { margin-top: 3%; }

/*
    There are only 2 h3s using this tag:
    "Play the Web Version"
    "The web version is not supported."
*/
h3 {
    padding-top: 3%;
    padding-bottom: 2%;
    color: #9192fc;
    font-size: 2vw;
    transition: all ease 0.3s;
}

/* Link to the project web version. */
.widget-container h3:hover { color: #5663f0; }

@media(min-width: 701px) {

    /* The project download iframe. */
    .widget {
        width: 39vw;
        height: 9.5vw;
    }

    .summary { padding-bottom: 5%; }

    .orb#pink {
        width: 60%;
        opacity: 0.6;
        top: -45vh;
        left: 52vw;

        animation: orb-pulse 12s linear infinite;
    }

    .orb#blue {
        width: 60%;
        opacity: 0.6;
        top: 45vh;
        left: 1vw;

        animation: orb-pulse 18s linear infinite;
    }

    .orb#purple {
        width: 60%;
        opacity: 0.6;
        left: 50vw;
        top: 154vh;

        animation: orb-pulse 16s linear infinite;
    }
}

@media(max-width: 700px) {

    /* The project download iframe. */
    .widget {
        width: 70vw;
        height: 30vw;
    }

    /* Text that appears whent the WebGL build is unavailable. */
    #not-available {
        margin: 5%;
        line-height: 125%;
        font-size: 4vw;
    }
}
